# Managed by ansible.
# file: {{ template_destpath }}

remote-control:
{% for __unbound_key, __unbound_value in ({'control-interface': __unbound_control_socket} | combine(unbound_remote_control_defaults, unbound_remote_control)).items() %}
{% for __unbound_element in (__unbound_value if __unbound_value is sequence and __unbound_value is not string else [__unbound_value]) %}
    {{ __unbound_key }}: {% if __unbound_element is boolean %}{{ __unbound_element | ternary('yes', 'no') }}{% elif __unbound_element is string %}{{ __unbound_element | to_json }}{% else %}{{ __unbound_element }}{% endif %}

{% endfor %}
{% endfor %}
